body {
    font-family: Verdana, sans-serif;
    background-color: rgb(55, 36, 133);

}

p {
    color: rgb(14, 82, 159);
    background-color: rgba(51, 4, 52, 0.558);
    font-size: 1.2rem;

}

h1 {
    font-size: 1.7rem;
}

img {
    width: 300px;
}